:root {
  --primary: #f4ce14;
  --secondary: #495e57;
  --white: #ffffff;
}

.hero {
  background-color: var(--secondary);
  display: flex;
  flex-direction: row;
  padding: 1rem 10rem;
  gap: 50px;
}

.description__title {
  font-size: 56px;
  color: var(--primary);
  font-weight: bold;
}

.description__subtitle {
  font-size: 32px;
  color: var(--white);
  font-weight: bold;
}

.description__text {
  font-size: 20px;
  color: var(--white);
  margin-top: 20px;
}

.description__button {
  font-size: 18px;
  background-color: var(--primary);
  color: var(--secondary);
  border-radius: 8px;
  border-color: var(--primary);
  padding: 10px 20px;
  margin-top: 40px;
  font-weight: bold;
}

.hero__img {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.hero__image {
  width: 250px;
  height: 300px;
  background-image: url("https://media.gettyimages.com/id/1295387240/it/foto/pasto-delizioso.jpg?s=612x612&w=gi&k=20&c=O0blp2WXGBTDG93NYyGsR6JGrYVkn8Nq0yxEL81k17s=");
  background-position: center;
  position: relative;
  border-radius: 8px;
  top: 50px;
}

@media (max-width: 768px) {
  .hero {
    flex-wrap: nowrap; /* keeps the flex items on a single line */
    flex-direction: column; /* make the child-element1 and child-element2 in one column */
    padding: 50px 32px 32px 32px;
    gap: 32px;
  }
  .hero__description,
  .hero__img {
    flex: 1; /* makes the elements take up equal space */
  }

  .hero__img {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .hero__image {
    width: 100%;
    position: static;
  }
}
