:root {
  --main: #495e57;
  --second: #f4ce14;
  --third: #edefee;
  --fourth: #333;
  --fifth: #ee9972;
  --fontMain: "Markazi Text", sans-serif;
  --fontSec: "Karla", sans-serif;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 10rem;
  font-family: var(--fontMain);
  gap: 40px;
}

.menu-header {
  text-align: center;
  padding: 5rem 10rem 0 10rem;
  font-family: var(--fontMain);
}

@media (max-width: 768px) {
  .menu {
    padding: 1rem 2rem;
  }

  .menu-header {
    padding: 5rem 2rem 0 2rem;
    text-align: center;
  }
}