:root {
  --main: #495e57;
  --second: #f4ce14;
  --third: #edefee;
  --fourth: #333;
  --fifth: #ee9972;
  --fontMain: "Markazi Text", sans-serif;
  --fontSec: "Karla", sans-serif;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0rem 10rem;
  font-family: var(--fontMain);
  gap: 40px;
}

.menu-header {
  padding: 5rem 10rem 0 10rem;
  font-family: var(--fontMain);
}

